.container
	.forms-block
		.forms-cont
			form(action='#' method='Post')
				input.form.form__name(type='text' name='name' placeholder='Your Name')
				input.form.form__email(type='email' name='email' placeholder='Your Mail')
				input.form.form__sub(type='text' name='subject' placeholder='Subject')
				textarea.form.form__massage(placeholder='Type Massage Here...')
				button.form.form__send(type='submit') SEND
		.info
			.info__address
				p.topic Our Address
				p.text 4896 Desert Broom Court
					br
					|Newark, NJ 07102
					br
					|Unites States
			.info__email
				p.topic Email
				p.text modernomail@mail.com
			.info__phone
				p.topic Phone
				p.text +00 123-456-78900
