section
		.stories
			.story-item
				.plus
					a(href="#")
						.img
							img(src="img/rectangle.png", alt="rectangle")
							img(src="img/plus.png", alt="plus")
			.story-item
				.plus
					a(href="#")
						.img
							img(src="img/rectangle.png", alt="rectangle")
							img(src="img/plus.png", alt="plus")
			.story-item
				.plus
					a(href="#")
						.img
							img(src="img/rectangle.png", alt="rectangle")
							img(src="img/plus.png", alt="plus")
			.story-item
				.plus
					a(href="#")
						.img
							img(src="img/rectangle.png", alt="rectangle")
							img(src="img/plus.png", alt="plus")
			.story-item
				.plus
					a(href="#")
						.img
							img(src="img/rectangle.png", alt="rectangle")
							img(src="img/plus.png", alt="plus")
			.story-item
				.plus
					a(href="#")
						.img
							img(src="img/rectangle.png", alt="rectangle")
							img(src="img/plus.png", alt="plus")