$color-1: #333333 //grey
$color-2: #fa694e // red
$color-3: #808080 //light grey

/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat')

/* font-family: 'Lora', serif; */
@import url('https://fonts.googleapis.com/css?family=Lora')


// *
// 	box-sizing: border-box
// 	&:before
// 	&:after
// 		box-sizing: border-box
body
	font-family: 'Lora', serif
	font-size: 15px
	color: $color-3
	margin: 0
	padding: 0

li,
ul
	padding: 0
	margin: 0
	list-style-type: none

.container
	position: relative
	margin-left: auto
	margin-right: auto
	padding-left: 10px
	padding-right: 10px
	@media (min-width: 1220px)
		width: 1170px
	@media (max-width: 1219px) and (min-width: 1000px)
		width: 980px
	@media (max-width: 999px) and (min-width: 768px)
		width: 760px

@import '_header.sass'
@import '_location.sass'
