doctype html
html
	head
		link(rel='stylesheet' href='css/style.css')
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js")
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")


	body
		.wrapper
			include includes/_header
			div(class='content')
				block content
			//include includes/_footer
